html {box-sizing: border-box;}
*, *:before, *:after {box-sizing:inherit;}

body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    color: #4A5759;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {text-align: center;
    font-weight: 100;
    letter-spacing: 3px;
    padding: 15px;
    background-color: #EED7C5;
    height: 70px;
}


.row {display: flex;
}

img {
    padding-top: 50px;
}

.col1 {
    flex: 50%;
}

.col2 {
    flex: 50%;
}

.icon {
    padding-left: 40px;
}

h2 {
    text-align: left;
    font-weight: 200;
    font-size: 20px;
  
}
a:hover {
    background-color: #EED7C5;
}

a {
    color: #B0C4B1;
}

ul {
    color: #4A5759;
}